*{
    box-sizing: border-box;
}

.container {
    border: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid lightgray ;
}

.box-wrapper {
    display: flex;
    align-items: center;
}

.box-small {
    margin-left: 24px;
    height: 50px;
    width: 50px;
}

.title {
    color: red;
}
